.wpb-layout-element-button .icon-wpb-tt_woocommerce
{ 
	background-image: url('../../images/woo_icon_double.png');
	background-position:0 0;
}
.wpb-layout-element-button .icon-wpb-tt_fa
{ 
	background-image: url('../../images/fa-icon.png');
}